.arch-div {
  text-align: center;
  margin-bottom: 2.5rem;
  border-top: 1.5px solid gold;
}

.services-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.xpel-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.vid-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-grow: 2;
}

.vid-div {
  height: 50vw;
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.vid-description {
  color: white;
  letter-spacing: 1px;
  margin-top: 0;
}

.cp-link {
  margin-top: 4rem;
  color: rgb(228, 0, 121);
}

@media all and (min-width: 500px) {
  .arch-div {
    border-top: none;
    margin-bottom: 8rem;
  }

  .vid-div {
    padding: 0 20%;
  }
}

@media all and (min-width: 1000px) {
  .services-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .xpel-wrapper {
    display: flex;
    flex-direction: row;
  }

  .packages-wrapper {
    max-width: 50vw;
  }

  .vid-div {
    height: 25vw;
  }
}