.LandingRoute {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.replace-with-route {
    height: 30%;
    width: 45%;
    border: solid black 1px;
    border-radius: 0 20px 20px 20px;
    background-color: rgb(70, 70, 70);
}