.LandingRoute {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.paragraph-plus-form-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    margin-bottom: 4rem;
}

.slogan {
    font-size: 2.5rem;
    text-align: center;
    width: 500px;
}

.replace-with-route {
    height: 30%;
    width: 45%;
    border: solid black 1px;
    border-radius: 0 20px 20px 20px;
    background-color: rgb(70, 70, 70);
}