.vehicles-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.vehicle-data {
    font-size: 1.2rem;
}

.data--primary {
    margin-bottom: 0;
}

.data-secondary {
    text-decoration: none;
    color: white;
    padding-left: .5rem;
}

.data-secondary:visited {
    color: silver;
}

.delete-vehicle {
    color: red;
    border: none;
}

.add-vehicle-link {
    text-decoration: none;
    color: white;
    width: 100%;
}